# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=something.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=something
NEXT_PUBLIC_SUPABASE_ANON_KEY=something
SUPABASE_SERVICE_ROLE_KEY=something

# Database URL (for direct database access if needed)
# DATABASE_URL=your_database_connection_string
DATABASE_URL=something
